:root {
    /* Color and Font Variables */
    --font-sans-serif: "balto", sans-serif;
    --font-serf: "grad", serif;
    --color-darkest: #010413;
    --color-darker: #0E1430;
    --color-main: #647FF5;
    --color-lighter: #E4E8FC;
    --color-lightest: #F6F7FC;

    /* Ratio and Modular Scale */
    --ratio: 1.35;
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-5: calc(var(--s-4) / var(--ratio));

    /* Measure and Line Height */
    --measure-min: 60ch;
    --measure-max: 75ch;
    --line-height: var(--ratio);
    --line-height-small: calc(var(--ratio) * 0.6);

    /* Set font, color, line height etc. in root */
    font-size: calc(.2vw + 1em);
    font-family: var(--font-serif);
    background-color: var(--color-darkest);
    color: var(--color-lightest);

    scroll-behavior: smooth;
}



/* Font antialiasing */
body {
    -webkit-font-smoothing: antialiased;
}

/* Typography */
/* Set all headings to sans serif */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: var(--font-sans-serif);
    max-width: var(--measure-max);
}

h1,
.h1 {
    font-size: var(--s4);
    line-height: var(--line-height-small);
}

h2,
.h2 {
    font-size: var(--s3);
}

h3,
.h3 {
    font-size: var(--s2);
}

h4,
.h4 {
    font-size: var(--s1);
}

h5,
.h5 {
    font-size: var(--s0);
}

h6,
.h6 {
    font-size: var(s-1);
}

a:hover {
    text-decoration: underline;
}
a::after {
    content: " »";
}

p {
    font-size: var(--s0);
    line-height: var(--line-height);
    max-width: var(--measure-max);
}
