.sidebar {
    flex-basis: 20rem;

    /* Set the width of the sidebar */
    justify-content: space-between;

    padding: var(--s1);

    header {

        h1 {
            line-height: var(--line-height-small);
        }

        p {
            font-style: italic;
            font-size: var(--s0);
        }
    }

    nav {
        width: 100%;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                width: 100%;
                padding: 0 var(--s0) var(--s0) 0;

                font-family: var(--font-sans-serif);
                font-weight: 700;
                /* letter-spacing: 0.15rem; */
                
                a::after {
                    content: "";
                }
            }
        }
    }

    footer {
        p {
            font-size: var(--s-1);
            font-family: var(--font-sans-serif);
        }
    }
}

@media screen and (max-width: 40rem) {
    .sidebar {
        nav {
            margin-block-start: 0;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: var(--color-darkest);
            padding: var(--s-1) 0;

            box-shadow: 0 4px 8px var(--color-lightest);

            ul {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-content: bottom;
                padding: var(--s-1) 0;
                margin: 0;

                li {
                    padding: 0;
                    margin: 0;
                    text-align: center;
                    width: 20%;

                    font-size: var(--s-1);
                    font-weight: 700;
                }
            }
        }
    }
    
}