.writing-clip {
    position: relative;
    padding-left: var(--s1);

    h3 {
        line-height: calc(var(--line-height) * 0.9);
    }

    p {
        font-size: var(--s0);
        line-height: 1.15;
        max-width: var(--measure);
    
    }

    a {
        font-family: var(--font-sans-serif);
        font-weight: 700;
    }

    .frame{
        border-radius: 2px;
    }
}

.writing-clip:hover::before {
        width: 7px;
}

.writing-clip::before {
    position: absolute;
    content: "";
    height: 100%;
    background-color: var(--color-lightest);
    top: 0;
    left: 0;

    transition: width 0.5s;

    width: 2px;
    z-index: 1;
}