.cluster {
    display: flex;
    flex-wrap: wrap;
    gap: var(--s0, 1rem);
    justify-content: flex-start;
    align-items: center;
}

.cluster.s1 {
    gap: var(--s1, 1.5rem);
}

.cluster.s2 {
    gap: var(--s2, 2rem);
}

.cluster.s3 {
    gap: var(--s3, 2.5rem);
}

.cluster.s4 {
    gap: var(--s4, 3rem);
}

.cluster.s5 {
    gap: var(--s5, 3.5rem);
}

.cluster.s-1 {
    gap: var(--s-1, 0.75rem);
}

.cluster.s-2 {
    gap: var(--s-2, 0.5rem);
}

.cluster.s-3 {
    gap: var(--s-3, 0.25rem);
}

.cluster.s-4 {
    gap: var(--s-4, 0.125rem);
}

.cluster.s-5 {
    gap: var(--s-5, 0.0625rem);
}