.grid {
    display: grid;
    grid-gap: var(--s0);
}

.grid.s1 {
    grid-gap: var(--s1);
}

.grid.s2 {
    grid-gap: var(--s2);
}

.grid.s3 {
    grid-gap: var(--s3);
}

.grid.s4 {
    grid-gap: var(--s4);
}

.grid.s5 {
    grid-gap: var(--s5);
}

.grid.s-1 {
    grid-gap: var(--s-1);
}

.grid.s-2 {
    grid-gap: var(--s-2);
}

.grid.s-3 {
    grid-gap: var(--s-3);
}

.grid.s-4 {
    grid-gap: var(--s-4);
}

.grid.s-5 {
    grid-gap: var(--s-5);
}

/* TODO: Fix min value later */
@supports (width: min(250px, 100%)) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
    }
}